

.content-search-page {
  height: 100vh;
}

/* SEARCH BAR*/

.btn-search {
  background-color: $orange;
  color: white;
}

.planet {
  border: 1px solid transparent;
  padding: 25px 25px;
}

.li-planet {
  padding-top: 50px;
}

.category {
  border: 1px solid transparent;
}

.seats {
  border: 1px solid #F8F8F8;
  border-radius: 1px;
  background-color: transparent;
}


/*SEARCH RESULT*/

.content-list {
  flex: 0 0 60%;
}

.content-search {
  flex: 0 0 40%;
  position: sticky !important;
  top: 0 !important;
}

.content-search ul {
  list-style-type: none;
}

.content-search li {
  padding-bottom: 25px;
}


