

.content-search-page {
  height: 100vh;
}

/* SEARCH BAR*/

.btn-search {
  background-color: $orange;
  color: white;
}

.planet {
  border: 1px solid transparent;
  padding: 25px 25px;
  width: 60%;;
}

.li-planet {
  padding-top: 50px;
}

.category {
  border: 1px solid transparent;
  width: 60%;;
}

.seats {
  border: 1px solid #F8F8F8;
  border-radius: 1px;
  background-color: transparent;
  width: 60%;
}


/*SEARCH RESULT*/

.content-list {
  padding: 40px;
  width: 70%;
}

.content-search {
  width: 30%;
  position: sticky !important;
  top: 0 !important;
  opacity: 0;
  height: 0;
}


.content-search-active {
  width: 30%;
  position: sticky !important;
  top: 0 !important;
  transition: opacity 3s ease-out;
  opacity: 1;
  height: 0;
  li {
    padding-bottom: 25px;
  }
  ul {
  list-style-type: none;
  }
}

.content-search ul {
  list-style-type: none;
}

.content-search li {
  padding-bottom: 25px;
}

.card-index {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(248, 247, 255, 0.4);
  border-radius: 5px;
  margin: 10px;
  .card-category {
  padding: 10px;
  }
  .card-description {
    .specs {
      display: flex;
      align-items: center;
      p {
        padding: 0px 32px 0px 0px;
        margin: 0px;
        margin-top: 10px;
      }
    }
  }
}

.search-spaceship {
  box-shadow: 1px 1px 50px rgba(0, 0, 173,0.8),
  -1px -1px 50px rgba(0, 0, 173,0.8),
  inset 3px 3px 50px rgba(0, 0, 173,0.8),
  inset -3px -3px 50px rgba(0, 0, 173,0.8);
  border: 5px solid rgba(0, 0, 173,0.7);
  border-radius: 5px;
  margin: 45px 0px;
  // background-color: rgba(0, 0, 67,0.5);
}

p {
  color: ghostwhite;
}

