<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    Une plateforme conçue avec <i class="fa fa-space-shuttle"></i> sur Tatooine
  </div>
</div>
