<div class="container header" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('cantina.jpg') %>) ;">
  <div class="row content-header">
    <div class="title-header">
      <h1>Mos Eisley</h1>
    </div>
    <div class="search-header">
      <form class="form-inline">
        <label class="sr-only" for="inlineFormInputName2">Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputName2" placeholder="Adresse précise">

        <button type="submit" class="btn btn-primary">Rechercher</button>
      </form>
    </div>
  </div>
</div>

<div class="content-cards">
  <div class="title-cards text-center">
    <p><strong>1,5 million d'utilisateurs et plus de 49 000 vaisseaux et véhicules de particuliers à louer dans la galaxie</strong></p>
  </div>
  <div class="cards">
    <div class="card">
      <!-- ...cards... -->
    </div>
  </div>
</div>
