.tabs {
  background: none;
  display: flex;
  left: 10%;
  top: 120px;
  position: absolute;
  padding-left: 10px;
}
.tabs a {
  color: rgba(248, 247, 255, 0.6);
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
  letter-spacing: 3px;
  text-align: left;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  border-bottom: 2px solid ghostwhite;
  width: 700px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  text-align: center;
  padding: 45px 0px 0px 0px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: left;
}
.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  background: none;
  color: ghostwhite;
}
